/* Museo Font */
@font-face {
  font-family: 'Museo', sans-serif;
  src: url('../../assets/fonts/museo/Museo-700.otf');
}

/* Forms */
.form .form-side {
  height: 100vh;
}
.form .logo {
  height: 42px;
  font-family: 'Museo', sans-serif;
  letter-spacing: 1px;
  font-size: 23px;
  color: #111;
}
.form .logo img {
  width: 42px;
  height: 42px;
}
.form .btn {
  height: 42px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}
.form p {
  font-size: .975em;
  color: #6c757d;
}
.form h3 {
  font-weight: 400;
}



/* Responsive */
@media (max-width: 575.98px) {

}
