<nz-header>
  <div nz-row [nzGutter]="{ xs: 15, sm: 15, md: 25, lg: 30 }" class="h-100">
    <div nz-col nzSpan="3" nzXs="12" class="vm">
      <nz-page-header class="page-header" [nzTitle]="pageHeaderTemplate"></nz-page-header>
      <ng-template #pageHeaderTemplate>
        <h4 nz-typography class="page-header-title mb-lg-0">{{ pageHeader }}</h4>
      </ng-template>
    </div>
    <div nz-col nzSpan="6" nzXs="0" class="vm">
      <nz-breadcrumb nz-page-header-breadcrumb>
        <!-- <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item> -->
      </nz-breadcrumb>
    </div>
    <div nz-col nzSpan="12" nzXs="0"></div>
    <div nz-col nzSpan="3" nzXs="12" class="vm text-right">
      <a routerLink="/settings" class="nav-icon"><i nz-icon nzType="setting" class="mr-lg-4 mr-3"></i></a>
      <nz-badge nzDot class="mr-lg-4 mr-3">
        <i nz-icon nzType="bell"></i>
      </nz-badge>
      <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="accountMenu">
        <nz-avatar [nzText]="utilsService.formatInitials(loggedInUser.fullName)"></nz-avatar>
      </a>
      <nz-dropdown-menu #accountMenu="nzDropdownMenu">
        <ul nz-menu class="luxx-dropdown-menu nav-dropdown-menu">
          <li nz-menu-item>Profile</li>
          <a routerLink="/settings"><li nz-menu-item>Settings</li></a>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="logOut()">Log out</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</nz-header>
