<!-- Nav -->
<app-nav-landing-page></app-nav-landing-page>


<!-- Header -->
<div class="container-fluid header bg-white">
  <div class="container container-custom">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="vm">
          <span class="badge bg-primary">#No 1 Platform for Freelancers</span>
          <h1 class="mt-lg-4 mb-lg-4">Grow your freelance business by building strong relationships with your valuable customers</h1>
          <p class="mb-lg-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
          <a href="signup">
            <button type="button" class="btn btn-primary btn-lg">Get Started</button>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="header-image vm">
          <img src="assets/img/header-image.png" alt="luxx CRM">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Features -->
<div class="container-fluid section features bg-white pt-lg-5 pb-lg-5">
  <div class="container container-custom">
    <h2 class="text-center mb-lg-5">Be the freelancer of tomorrow</h2>
    <div class="row">
      <div class="col-lg-3 col-12">
        <div class="feature-box p-lg-4">
          <div class="feature-box-icon text-center mb-lg-4">
            <span class="material-icons-outlined vm">group</span>
          </div>
          <h4 class="mb-lg-3">Contact Management</h4>
          <p class="mb-lg-0 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="feature-box p-lg-4">
          <div class="feature-box-icon text-center mb-lg-4">
            <span class="material-icons-outlined vm">receipt</span>
          </div>
          <h4 class="mb-lg-3">Invoicing</h4>
          <p class="mb-lg-0 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="feature-box p-lg-4">
          <div class="feature-box-icon text-center mb-lg-4">
            <span class="material-icons-outlined vm">event</span>
          </div>
          <h4 class="mb-lg-3">Events Calendar</h4>
          <p class="mb-lg-0 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <div class="feature-box p-lg-4">
          <div class="feature-box-icon text-center mb-lg-4">
            <span class="material-icons-outlined vm">filter_alt</span>
          </div>
          <h4 class="mb-lg-3">Pipelines</h4>
          <p class="mb-lg-0 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section -->
<div class="container-fluid section section-background pt-lg-5 pb-lg-5">
  <div class="container container-custom">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="section-image vm">
          <img src="assets/img/header-image.png" alt="luxx CRM">
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="vm">
          <div class="pr-lg-5">
            <span class="badge bg-primary">#No 1 Platform for Small Businesses</span>
            <h2 class="mt-lg-4 mb-lg-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</h2>
            <p class="mb-lg-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="signup">
              <button type="button" class="btn btn-primary btn-lg header-btn">Get Started</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pricing -->
<div class="container-fluid section pricing bg-white pt-lg-5 pb-lg-5">
  <div class="container container-custom">
    <div class="row">
      <div class="col-lg-4 col-12">
        <h2 class="mb-lg-4">Everything to your advantage</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod</p>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
</div>
