/* Pipelines */
.pipelines-row {
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
}
.pipelines-row .pipeline-board {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}
.pipelines-row .pipeline-board-header span {
  font-size: 12px;
  font-weight: 400;
}
.pipelines-row .pipeline-board-header span div {
  width: 7px;
  height: 7px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}
.pipelines-row .pipeline-board-body {
  min-height: 70px;
}
.pipeline-board-contact-placeholder {
  width: 100%;
  height: 70px;
  border: 1px dashed red;
}
